:root {
    --main-font: 'EB Garamond', serif;
    --text-color: #333;
    --light-grey: #B7B7B7;
    --lighter-grey: #EEEEEE;

    --lighter-blue: #D0DEE2;
    --light-blue: #A7C2C9;
    --blue: #8FB1B4;
    --darker-blue: #6A8F92;
    
    --button-hover-bg: #D8E1E8;
    --button-text: #4A4A4A;
    --secondary-button-bg: #d3d3d3;

    --text-color: rgb(51, 51, 51, 30);
}
#back-button {
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-color);
    position: relative;
    cursor: pointer;
    text-align: left;
}
#back-button:hover {
    color: var(--darker-blue);
}
#search-query {
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    border-radius: 50px;
    font-size: 0.9rem;
    color: var(--text-color);
    border: 1px solid var(--light-grey);
    background-color: var(--lighter-grey);
    font-family: 'Instrument Sans', sans-serif;
}
.filter-buttons {
    display: flex;
    justify-content: space-between; /* Add flexible spacing between buttons */
    margin: 20px 0px;
    width: 100%;
    gap: 10px; /* Optional: Add a consistent gap between buttons */
}
.button-small {
    flex-grow: 1; /* Allow buttons to grow and take up equal space */
    text-align: center; /* Center text inside the button */
    background-color: var(--button-hover-bg);
    border: 1px solid var(--darker-blue);
    color: var(--button-text);
    padding: 0px 20px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.button-small:hover {
    background-color: var(--blue);
    border-color: var(--darker-blue);
}
/* .button-selected {
    background-color: var(--darker-blue);
    border-color: var(--blue);
} */
.canvas-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#canvas {
    border: 1px solid var(--light-blue);
    background: rgb(223, 233, 235);
    /* background: #e0e8ea; */
    /* border-radius: 10px; */
    /* box-shadow: #bebebe 10px 10px 10px -5px; */
}
.row {
    display: flex;
    height: 100%; /* Make the row take up the full height of its parent */
}
.quote-container {
    height: 593px;
    overflow: auto;
}
.quote {
    padding: 20px 20px;
    background-color: rgb(208, 222, 226, 0.3);
    border: 1px solid var(--light-blue);
    margin-bottom: 10px;
    cursor: move;
    user-select: none;
    text-align: left;
    font-family: 'Instrument Sans', sans-serif;
    color: #34495e;
    line-height: 1.2;
}
.draggable {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}
#download {
    margin: 20px 0px;
}