:root {
    --main-font: 'EB Garamond', serif;
    --text-color: #333;
    --button-bg: #94c2c8;
    --button-hover-bg: #D8E1E8;
    --button-text: #4A4A4A;
    --secondary-button-bg: #d3d3d3;
    --card-bg: #EEEEEE;
    --card-bg-selected: #D0DEE2; /* Correct the typo */
    --card-border: #B7B7B7;
    --card-border-selected: #A7C2C9;
}

body {
    font-family: var(--main-font);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f3e7;
    overflow-x: hidden;
    position: relative;
}

.main-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.statue-left {
    position: fixed;
    left: 30px;
    bottom: 0;
    height: 80vh;
    max-height: 800px;
    z-index: 0;
}

.statue-right {
    position: fixed;
    right: 30px;
    bottom: 0;
    height: 80vh;
    max-height: 800px;
    z-index: 0;
}

.content-wrapper {
    text-align: center;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

h1.main-title {
    font-size: 6.5rem;
    font-style: italic;
    margin-bottom: 1.5rem;
    color: #333;
}

.subtitle {
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 3rem;
    max-width: 600px;
    line-height: 1.6;
    color: #4a4a4a;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.main-button {
    padding: 0.8rem 3.5rem;
    min-width: 200px;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.main-button.primary {
    background-color: var(--button-bg);
    color: var(--button-text);
}

.main-button.secondary {
    background-color: var(--secondary-button-bg);
    color: var(--button-text);
}

.main-button.primary:hover {
    background-color: var(--button-hover-bg);
    transform: translateY(-2px);
    text-decoration: none;
    color: var(--button-text);
}

.main-button.secondary:hover {
    text-decoration: none;
    color: var(--button-text);
} 

/* quiz page */
.card {
    cursor: pointer;
    background-color: var(--card-bg);
    border: 2px solid var(--card-border);
    border-radius: 20px;
    padding: 20px;
    transition: border-color 0.3s, background-color 0.3s;
}

.card:hover {
    transform: translateY(-2px);
}

.card.selected {
    background-color: var(--card-bg-selected);
    border: 2px solid var(--card-border-selected);
}