{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'create.js') }}"></script>


    <div class="row">
        <div class="col-6" id="back-button">
            <p onclick="window.location.href='/fragments'">&lt Review instructions</p>
        </div>
        <div class="col-6">
            <div id="instruction">Drop your quotes here to create your poem</div>
        </div>
    </div>
    
    <div class="row">
        <div class="quotes-container col-6">
            <!-- search box -->
            <form onsubmit="event.preventDefault(); submitSearch(document.getElementById('search-query').value);">
                <input type="search" id="search-query" name="query" placeholder="Search quotes with keywords..." aria-label="Search">
                <!-- <button type="submit">Search</button> -->
            </form>

            <!-- filter buttons -->
            <div class="filter-buttons">
                <button class="button-small" onclick="submitSearch('Nature')">Nature</button>
                <button class="button-small" onclick="submitSearch('Sensuality')">Sensuality</button>
                <!-- <button class="button-small" onclick="submitSearch('Love')">Love</button> -->
                <button class="button-small" onclick="submitSearch('Life')">Life</button>
                <button class="button-small" onclick="submitSearch('Divinity')">Divinity</button>
            </div>

            <!-- quotes -->
            <div id="results">
                <div class="quote-container" id="quotes-container">
                    {% for quote in results %}
                        <div class="quote" id="quote{{ loop.index }}" draggable="true">{{ quote.quote | replace('\n', '<br>') | safe }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    
        <div class="canvas-container col-6">
            
            <canvas id="canvas" width="400" height="500"></canvas> 
            <!-- need to change canvas size here and not in css -->

            <div id="download">
                <button class="main-button primary" onclick="downloadImage()">Save and Share</button>
            </div>
        </div>
    </div>

{% endblock %}
