{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'create.js') }}"></script>


    <div class="row" id="back-button">
        <p onclick="window.location.href='/fragments'">Review instructions</p>
    </div>
    
    <div class="row">
        <div class="quotes-container col-6">
            <!-- search box -->
            <form onsubmit="event.preventDefault(); submitSearch(document.getElementById('search-query').value);">
                <input type="search" id="search-query" name="query" placeholder="Search keywords..." aria-label="Search">
                <!-- <button type="submit">Search</button> -->
            </form>

            <!-- filter buttons -->
            <div class="filter-buttons">
                <button class="button-small" onclick="submitSearch('Nature')">Nature</button>
                <button class="button-small" onclick="submitSearch('Sensuality')">Sensuality</button>
                <button class="button-small" onclick="submitSearch('Love')">Love</button>
                <button class="button-small" onclick="submitSearch('Life')">Life</button>
                <button class="button-small" onclick="submitSearch('Divinity')">Divinity</button>
            </div>

            <!-- quotes -->
            <div id="results">
                <div class="quote-container" id="quotes-container">
                    {% for quote in results %}
                        <div class="quote" id="quote{{ loop.index }}" draggable="true">{{ quote.quote }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    
        <div class="canvas-container col-6">
            <h2>Drag and Drop Your Elements Here</h2>
            <canvas id="canvas" width="500" height="300"></canvas>

            <div id="download">
                <button onclick="downloadImage()">Save and Share</button>
            </div>
        </div>
    </div>

{% endblock %}
