<!-- TODO: implement floating quotes in the background -->

{% extends "base.html" %}

{% block content %}
    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script> -->

    
    <section id="intro">
        <p>Sadly, most of Sappho’s poems were lost. We now have only fragments of her poems quoted in other texts or found on bits of papyrus. 
        </p>
    </section>

    <section id="transition">
        <p>However, these fragments give Sappho’s poetry a new life.</p>
        
    </section>

    <section id="instructions">
        <h1>Your turn to compose with Sappho’s fragments</h1>
        <p>Sappho’s words have come to us like sea-glass—shaped by time, worn but glowing. Now, it’s your turn to gather them into your feelings and your voice. </p>
        <p><b>Choose</b> Sappho's quotes from the right.</p>
        <p><b>Drag</b> them onto the canvas to begin building your own poem. Arrange them, repeat them, leave gaps. Let silence be part of your voice.</p>
        <!-- <p>Add your own words if you like. You are not just assembling—you’re responding. You’re writing with Sappho.</p> -->
        <p><b>There’s no right way.</b> Your poem can be a whisper or a storm. A single line, or a cascade.</p>
        <!-- <p>When you’re ready, click “Compose” to see your poem.</p> -->
        <button class="main-button primary" id="canvas-button" onclick="window.location.href='/create'">Create with Sappho's Fragments</button>
    </section>

{% endblock %}