{% extends "base.html" %}

{% block content %}
<h1 class="main-title">Fragments of Sappho</h1>
<p class="subtitle">Journey through the poetic fragments of Sappho, whose words on love and desire have echoed across 2,600 years.</p>

<div class="button-group">
    <!-- {% if learning_completed %}
        <a href="{{ url_for('learning_page', page_id=1) }}" class="main-button secondary" data-explore-button>Explore</a>
        <a href="{{ url_for('quiz_intro') }}" class="main-button primary">Test Yourself</a>
    {% else %}
        <a href="{{ url_for('learning_page', page_id=1) }}" class="main-button primary" data-explore-button>Explore</a>
        <button class="main-button secondary disabled" title="Finish the explore stage first" style="pointer-events: auto;">Test Yourself</button>
    {% endif %} -->

    {% if not learning_completed %}
        <!-- learning incomplete, disable quiz and create, highlight explore -->
        <a href="{{ url_for('learning_page', page_id=1) }}" class="main-button primary" data-explore-button>Explore</a>
        <button class="main-button secondary disabled" title="Finish the explore stage first" style="pointer-events: auto;">Test Yourself</button>
        <button class="main-button secondary disabled" title="Finish the test stage first" style="pointer-events: auto;">Create Your Own</button>
    {% elif learning_completed and not quiz_completed %}
        <!-- learning complete, quiz incomplete, enable quiz, disable create, highlight quiz -->
        <a href="{{ url_for('learning_page', page_id=1) }}" class="main-button secondary" data-explore-button>Explore</a>
        <a href="{{ url_for('quiz_intro') }}" class="main-button primary">Test Yourself</a>
        <button class="main-button secondary disabled" title="Finish the test stage first" style="pointer-events: auto;">Create Your Own</button>
    {% else %}
        <!-- learning and quiz complete, enable all, highlight create -->
        <a href="{{ url_for('learning_page', page_id=1) }}" class="main-button secondary" data-explore-button>Explore</a>
        <a href="{{ url_for('quiz_intro') }}" class="main-button secondary">Test Yourself</a>
        <a href="{{ url_for('create') }}" class="main-button primary">Create Your Own</a>
    {% endif %}

    


    <!-- <a href="{{ url_for('create') }}" class="main-button secondary">Create Your Own</a> -->
</div>
{% endblock %} 