{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

    <h1>Congratulations!</h1>
    <div class="learning-content" style="max-width: 800px; margin-top: 20px;">
        <p>You scored <b>{{progress.score}} out of {{totalQuestions}}</b>.</p>
        <p>Thanks for taking a moment with Sappho.</p>
        <p>You’re carrying her voice with you—now let’s see what happens when you create something new from her fragments…</p>
    </div>
    <div class="button-group">
        <button class="main-button secondary" onclick="startQuiz()">Restart Quiz</button>
        <button class="main-button primary" onclick="handleFinishQuiz()">Finish Quiz and Create Your Own</button>
    </div>
{% endblock %}

{% block scripts %}
<script src="/static/main.js"></script>
<script>
    updateProgress("explore", 1, 1);
    updateProgress("quiz", 9, 9);
</script>
{% endblock %} 