{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

    
    <section id="intro">
        <p>Before we move on, let’s pause for a moment.</p>
        <p>Just a few true or false questions to reflect on what we’ve seen.</p>
        <button class="main-button primary" onclick="startQuiz()">Start Quiz</button>
    </section>

    <section id="quiz" style="display: none;"></section>
    
       
     


{% endblock %}

