{% extends "base.html" %}

{% block content %}

    <script>
        const questionData = {{ question | tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

    <div class="question-container">
        <div class="question">
            <h1>Which one is true?</h1>
        </div>
        <div class="cards">
            <div class="card" id="card1" data-answer="A" onclick="selectCard(this)">
                <div class="image-container">
                    <img src="{{ question.photoA }}" alt="photo matching description">
                </div>
                <div class="description" id="card-description">
                    <p>{{ question.descriptionA }}</p>
                </div>
            </div>
            <div class="card" id="card2" data-answer="B" onclick="selectCard(this)">
                <div class="image-container">
                    <img src="{{ question.photoB }}" alt="photo matching description">
                </div>
                <div class="description" id="card-description">
                    <p>{{ question.descriptionB }}</p>
                </div>
            </div>
            <div class="description" id="feedback-container"></div>
        </div>
    </div>
    <div class="button-group" id="quiz-buttons">
        <button class="main-button primary" id="confirm" onclick="submitAnswer()">Confirm</button>
    </div>

{% endblock %}

{% block scripts %}
<script src="/static/main.js"></script>
<script>
    updateProgress("explore", 1, 1);
    const questionId = parseInt("{{ question.id }}");
    // console.log("Question ID:", questionId);
    updateProgress("quiz", questionId+1, 9);
</script>
{% endblock %} 